# Go
backend/backend.exe
backend/backend
*.exe
*.exe~
*.dll
*.so
*.dylib

# Node
node_modules/
.npm

# Next.js
.next/
out/
build/
.env.local
.env.development.local
.env.test.local
.env.production.local

# Docker
docker-compose.override.yml
.env

# Redis / DB
data/
redisdata/
pgdata/

# OS
.DS_Store
Thumbs.db
